@model List<Employee>
@{
    ViewData["Title"] = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Employee List:</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Salary</th>
                        <th>State</th>
                        <th>Start Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.LastName</td>
                            <td>$@item.Salary</td>
                            <td>
                                @if (item.IsDeleted)
                                {
                                    <span class="badge badge-danger badge-pill">Passive</span>
                                }
                                else
                                {
                                    <span class="badge badge-primary badge-pill">Active</span>
                                }
                            </td>
                            <td>@item.BeginDate.ToShortDateString()</td>
                            <td class="text-center" style="width:15%">
                                <a asp-controller="Employee" asp-action="Update" asp-route-id="@item.Id" class="btn btn-info btn-circle mr-2" data-toggle="tooltip" data-placement="bottom" title="Update">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="bottom" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        
        $(function () {
            $('#dataTable').DataTable();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}